<%- include("header") -%>
<div class="main">
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <h4>Title</h4>
  <input type="text" name="compose1" value="" style="width:100%">
  <h4>Post</h4>
  <textarea name="compose2" rows="8" cols="80" style="width:100%"></textarea>
  <button type="submit" name="button1" style="background:violet; color:white; padding:5px; border-radius: 5px; cursor:pointer">Publish</button>
</form>
</div>
<%- include("footer") -%>
