<br><br><br><br><br>
<section class="footer">

  <p>Copy right @ Divvela Vishnu Sai Kumar</p>
  <div class="icons">
    <a href="https://facebook.com/">Facebook</a>
    <a href="https://twitter.com/">Twitter</a>
    <a href="https://www.linkedin.com/">Linked In</a>
  </div>
</section>
</body>
</html>
