<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Daily Journal</h1>
      <div class="nav">
      <ul>
        <li><a href="http://localhost:5000/">HOME</a></li>
        <li><a href="http://localhost:5000/about">ABOUT US</a></li>
        <li><a href="http://localhost:5000/contact">CONTACT US</a></li>
      </ul>
      </div>
    </header>
<div class="main">
<h1><%= title %></h1>
<p><%= content %></p>
</div>
<%- include("footer") -%>
